<div
	class="lines-panel">
	<!-- line-1 -->
	{% if loop.index == 1 %}
		<div class="line-item" data-target="segment-1">
			<svg width="287" height="95" viewbox="0 0 287 95" fill="none">
				<circle cx="12.4833" cy="81.727" r="12.4832" fill="white" fill-opacity="0.72"/>
				<circle cx="12.4834" cy="81.727" r="9.70917" fill="white" fill-opacity="0.72"/>
				<path d="M139.267 2.66663V2.16663L139.123 2.16663L139.001 2.24314L139.267 2.66663ZM281.334 2.66666C281.334 4.13942 282.527 5.33333 284 5.33333C285.473 5.33333 286.667 4.13942 286.667 2.66666C286.667 1.1939 285.473 -3.57628e-06 284 -3.57628e-06C282.527 -3.57628e-06 281.334 1.1939 281.334 2.66666ZM15.0002 80.6666L15.2661 81.0901L139.532 3.09011L139.267 2.66663L139.001 2.24314L14.7344 80.2431L15.0002 80.6666ZM139.267 2.66663V3.16663L284 3.16666V2.66666V2.16666L139.267 2.16663V2.66663Z" fill="#D8D8D8"/>
				<circle cx="12.4831" cy="81.727" r="6.93512" fill="white"/>
			</svg>
		</div>
	{% endif %}
	{% if loop.index == 2 %}
		<!-- line-2 -->
		<div class="line-item" data-target="segment-2">
			<svg width="664" height="139" viewbox="0 0 664 139" fill="none">
				<circle cx="12.4832" cy="126.15" r="12.4832" fill="white" fill-opacity="0.72"/>
				<circle cx="12.4831" cy="126.15" r="9.70917" fill="white" fill-opacity="0.72"/>
				<path d="M425 2.66675V2.16675H424.926L424.856 2.18799L425 2.66675ZM658.333 2.66675C658.333 4.13951 659.527 5.33341 661 5.33341C662.473 5.33341 663.667 4.13951 663.667 2.66675C663.667 1.19399 662.473 8.13007e-05 661 8.13007e-05C659.527 8.13007e-05 658.333 1.19399 658.333 2.66675ZM10 127.667L10.1442 128.146L425.144 3.1455L425 2.66675L424.856 2.18799L9.8558 127.188L10 127.667ZM425 2.66675V3.16675H661V2.66675V2.16675H425V2.66675Z" fill="#D8D8D8"/>
				<circle cx="12.9351" cy="126.602" r="6.93512" fill="white"/>
			</svg>
		</div>
	{% endif %}
	{% if loop.index == 3 %}
		<!-- line-3 -->
		<div class="line-item" data-target="segment-3">
			<svg width="303" height="112" viewbox="0 0 303 112" fill="none">
				<circle cx="12.4832" cy="99.1497" r="12.4832" fill="white" fill-opacity="0.72"/>
				<circle cx="12.4831" cy="99.1496" r="9.70917" fill="white" fill-opacity="0.72"/>
				<path d="M103 2.6665V2.1665H102.793L102.646 2.31295L103 2.6665ZM297.333 2.6665C297.333 4.13926 298.527 5.33317 300 5.33317C301.473 5.33317 302.667 4.13926 302.667 2.6665C302.667 1.19374 301.473 -0.00016284 300 -0.00016284C298.527 -0.00016284 297.333 1.19374 297.333 2.6665ZM5 100.667L5.35355 101.02L103.354 3.02006L103 2.6665L102.646 2.31295L4.64645 100.313L5 100.667ZM103 2.6665V3.1665H300V2.6665V2.1665H103V2.6665Z" fill="#D8D8D8"/>
				<circle cx="12.9351" cy="99.6016" r="6.93512" fill="white"/>
			</svg>
		</div>
	{% endif %}
</div>
