/**********************************
* IMPORTS
***********************************/
@import 'variables';
@import 'mixins';
@import 'typography';


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* SCROLLBAR CUSTOMIZATION */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--pri-100);
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

// a, select, button, input{
//     &:focus{
//         outline: 2px solid var(--pri-200);
//     }
// }
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/**********************************
* GLOBAL
***********************************/
// .current-menu-item:first-of-type a {
//     color: var(--black) !important;
// }
// .current-menu-item a {
//     color: var(--pri-500) !important;
// }

#content {
    margin: 0;
}

.grecaptcha-badge {
    opacity: 0 !important;
}

.error404 {
    .error-block {
        padding-bottom: 100px;

        h1 {
            .font-size(180, 80);
            color: var(--pri-400);
            text-shadow:
                1px 1px 1px var(--pri-100),
                2px 2px 1px var(--pri-100),
                3px 3px 1px var(--pri-100),
                4px 4px 1px var(--pri-100),
                5px 5px 1px var(--pri-100),
                6px 6px 1px var(--pri-100),
                7px 7px 1px var(--pri-100),
                8px 8px 1px var(--pri-100),
                25px 25px 8px rgba(0, 0, 0, 0.2);
        }

        h3 {
            color: var(--neu-100);
        }

    }

    .back-home {
        .custom-btn();
        max-width: max-content;
        margin: auto;
        margin-top: 40px;
        width: 100%;
        display: block;
    }
}

.hidden {
    overflow-y: hidden;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: var(--white);
    box-shadow: 0 -20px 13px 4px rgba(0, 0, 0, 11%);
}

html,
body {
    scroll-behavior: smooth;
}

.button_container {
    display: block;
    position: relative; // use position fixed fro fixed header
    top: 0;
    right: 0;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 500;
    transition: all .25s ease;

    &:hover {
        span {
            width: 100% !important;
            background-color: var(--sec-100);
        }

        &.active {
            span {
                background-color: var(--sec-100);
            }
        }
    }

    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: var(--pri-100);
        }

        .middle {
            opacity: 0;
            background: var(--pri-100);
            width: 100%;
        }

        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: var(--pri-100);
            width: 100%;
        }
    }

    span {
        background: var(--pri-100);
        height: 2.7px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transition: all .35s ease;
        cursor: pointer;
        border-radius: 9999px;


        &:nth-of-type(2) {
            top: 11px;
            width: 75%;
        }

        &:nth-of-type(3) {
            top: 22px;
            width: 75%;
        }
    }
}

@media screen and (min-width: 1280px) {
    .button_container {
        display: none;
    }
}

.overlay {
    position: fixed;
    background-color: var(--white);
    background-image: linear-gradient(0deg, rgba(0, 71, 212, 0.15) -17.12%, rgba(48, 81, 146, 0.00) 74.65%);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: auto;
    z-index: 400;
    content-visibility: auto;

    .site-logo {
        margin-top: 30px;
        // .padding-lr();
    }

    &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;

        li {
            animation: fadeInRight 1.15s ease forwards;
            animation-delay: .35s;

            &:nth-of-type(2) {
                animation-delay: .45s;
            }

            &:nth-of-type(3) {
                animation-delay: .55s;
            }

            &:nth-of-type(4) {
                animation-delay: .65s;
            }

            &:nth-of-type(5) {
                animation-delay: .75s;
            }

            &:nth-of-type(6) {
                animation-delay: .85s;
            }

            &:nth-of-type(7) {
                animation-delay: .95s;
            }
        }
    }

    .overlay-nav-main {
        margin-block-start: var(--space-80);

        .overlay-menu {
            position: relative;
            text-align: left;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: flex;
            gap: var(--space-md);
            flex-direction: column;
            align-items: center;
            position: relative;
            height: 100%;

            >li {
                display: block;
                position: relative;
                opacity: 0;
                margin: 0;

                a {
                    display: block;
                    position: relative;
                    color: var(--pri-100);
                    text-decoration: none;
                    overflow: hidden;
                    font-size: 24px;
                    text-transform: none;
                    margin-top: 0px;
                    font-weight: 500;
                    margin-bottom: 0;

                    &:hover {
                        color: var(--pri-100);
                    }
                }

                &.grad-btn {
                    padding: var(--space-xs) var(--space-md);
                    font-size: 24px !important;

                    a {
                        padding: 0px !important;
                        color: var(--white) !important;
                    }
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        backface-visibility: hidden;
        transform: perspective(2500px) rotateX(100deg);
        transition-property: transform;
    }

    100% {
        opacity: 1;
        transform: none;
        transform: perspective(2500px) rotateX(0);
    }
}

.form-placeholder {
    color: var(--neu-300) !important;
    opacity: 1;
    font-weight: 400;
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: var(--section-line-height);
}

.gform_required_legend {
    display: none !important;
}

.gform_submission_error {
    background-image: none !important;
    padding: 0px !important;
}

.gform_confirmation_message {
    font-size: 20px;
    color: var(--pri-100);
    font-weight: 500;
}

form {
    .gform_fields {
        grid-row-gap: var(--space-24);
    }

    .gfield_label {
        display: none !important;
    }

    .gform_wrapper.gravity-theme .gfield textarea.large {
        height: 154px !important;
    }



    p {
        margin-bottom: 42px;
    }

    input,
    textarea,
    select {
        padding: 14px 24px !important;
        border: 1px solid var(--pri-300);
        width: 100% !important;
        font-family: var(--font-primary);
        font-size: 18px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50px;
        box-sizing: border-box !important;
        line-height: normal !important;
        min-height: max-content !important;

        &:focus {
            // outline: none;
        }
    }

    textarea {
        border-radius: 20px;
        height: 154px !important;
    }

    select {
        background: url("/wp-content/themes/infoprag/static/images/icon/drop-down.svg") no-repeat;
        background-size: 12px;
        background-position: calc(100% - 20px) center;
        background-repeat: no-repeat;
        background-color: var(--white);
        color: var(--black);

        &:invalid,
        .gf_placeholder,
        &:has(option.gf_placeholder:checked) {
            color: var(--neu-300) !important;
            /* initial placeholder color */
        }
    }

    .gform_footer {
        justify-content: end;

        input[type="submit"] {
            .custom-btn();
            padding-inline: 32px;
            width: unset !important;
            padding: 14px 44px !important;
        }

    }

    ::-webkit-input-placeholder {
        /* WebKit browsers */
        .form-placeholder();
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        .form-placeholder();
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        .form-placeholder();
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        .form-placeholder();
    }
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.transform {
    transform: scaleX(-1);
}

div {
    box-sizing: border-box;
}

.custom-btn {
    background-color: var(--white);
    border: 2px solid var(--pri-100);
    padding: var(--space-sm) var(--space-md);
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--pri-100);
    .center();
    border-radius: 50px;
    transition: all .4s ease-in-out;

    &:hover {
        background-color: var(--pri-100);
        color: var(--white);
        opacity: 1;
        text-decoration: none;
        transition: all .4s ease-in-out;
    }
}

.grad-btn {
    .custom-btn();
    color: var(--white);
    background: linear-gradient(99deg, #0046D3 11.13%, #65B878 47.95%, #9DF500 82.05%);
    border: none;
    transition: all .5s ease-in-out;
    background-size: 100%;
    background-position: left center;

    &:hover {
        background-size: 500%;
    }
}

img {
    height: auto;
}

.img-responsive {
    display: block;
    width: 100%;
}

.ratio(@ratio) {
    aspect-ratio: @ratio;
    object-fit: cover;
}


/**********************************
* HEADER
***********************************/

header {
    padding: 30px 0;
    background-color: var(--white);
    width: 100%;
    box-sizing: border-box;
    //use these css fro fixed header
    position: relative;
    transition: all 0.3s;

    .wrapper {
        .menu-alignment();
        justify-content: space-between;
        position: relative;
    }
}

.site-logo {
    display: inline-block;
    // margin-left: 17px;
    width: 170px;
    margin-bottom: 0;
    position: relative;
    z-index: 65;

    @media @min768 {
        width: 270px;
    }

    @media @min1024 {
        // margin-left: 68px;
        width: auto;
    }


    img {
        max-width: 139px;

        @media @min1024 {
            max-width: 180px;
        }
    }


}

.nav-main {
    display: none;

    @media @min1280 {
        display: inline-block;
    }

    ul {
        .menu-alignment();

        >li {
            display: inline-block;

            a {
                color: var(--black);
                text-decoration: none;
                font-family: var(--font-primary);
                font-weight: 500;
                font-size: 18px;
                border-radius: 25px;
                padding: 4px 12px;
                background-image: linear-gradient(90deg, rgba(0, 71, 212, 0.15) -17.12%, rgba(48, 81, 146, 0.00) 74.65%);
                background-size: 500%;
                background-position: right center;

                &:hover {
                    background-size: 100%;
                    background-image: linear-gradient(90deg, rgba(0, 71, 212, 0.15) -17.12%, rgba(48, 81, 146, 0.00) 74.65%);
                }
            }

            &.grad-btn {
                padding: var(--space-xs) var(--space-md);
                font-size: 18px !important;

                a {
                    padding: 0px !important;
                    color: var(--white) !important;
                }
            }
        }
    }
}

/**********************************
* HERO
***********************************/
.page-id-14 {
    .hero {
        img {
            filter: brightness(0.4) !important;
        }

        svg {
            >path {
                fill: var(--white);
            }
        }
    }
}

.hero {
    &.not-home {
        position: relative;

        img {
            height: 260px;
            object-fit: cover;
            object-position: center;
            filter: brightness(0.6);

            @media @min992 {
                height: 475px;
            }
        }

        .text-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            z-index: 2;
            width: 100%;
            padding-inline: var(--space-sm);

            .logo {
                svg {
                    .img-responsive();
                    height: auto;
                    max-width: 200px;
                    margin: auto;

                    @media @min992 {
                        max-width: 450px;
                    }
                }
            }
        }
    }

    //home page gero section::after
    &.hero-home {
        .hero-slider {
            .hero-slide {
                position: relative;

                @media @min992 {
                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        display: block;
                        .grad-bg();
                        z-index: 2;
                    }
                }

                .image-content {
                    img {
                        height: calc(100svh - 100.15px);
                        max-height: 820px;
                        object-fit: cover;
                        object-position: left center;
                        filter: brightness(0.4);

                        @media @min1280 {
                            height: calc(100vh - 112px);
                        }
                    }
                }

                &:nth-child(1) {
                    .text-content .btn a {
                        color: var(--white);
                        border-color: var(--white);
                        background: rgba(255, 255, 255, 0.45);

                        &:hover {
                            background-color: var(--pri-100);
                            border-color: var(--pri-100);
                        }
                    }
                }

                &:nth-child(2) {
                    .text-content .btn a {
                        .grad-btn();
                    }
                }

                .text-content {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    left: 0;
                    z-index: 10;

                    .container {
                        .slider-content {
                            .logo {
                                margin-bottom: var(--space-md);

                                svg {
                                    .img-responsive();
                                    height: auto;
                                    max-width: 180px;

                                    @media @min992 {
                                        max-width: 290px;
                                    }

                                    >path {
                                        fill: var(--white);
                                    }
                                }
                            }

                            .content {
                                margin-top: var(--space-sm);
                            }

                            .btn {
                                margin-top: var(--space-24);
                            }

                            // .title, .content, .btn{
                            //     & [data-aos="flipper"] {
                            //         opacity: 0;
                            //     }

                            //     &.aos-animate {
                            //         opacity: 1;
                            //     }
                            // }

                            @media @min1024 {
                                width: 950px;

                                .content {
                                    width: 650px;
                                }


                            }
                        }
                    }
                }

            }

            .slick-dots {
                bottom: var(--space-md);
                .display-flex(flex, 212px, row, center);
                justify-content: center;
                transition: all .35s ease-in-out;

                @media @min992 {
                    bottom: var(--space-lg);
                    gap: 352px;
                }

                li {
                    height: unset;
                    width: unset;
                    margin: 0px;
                    transition: all .35s ease-in-out;

                    .tab {
                        color: var(--white);
                        font-size: 32px;
                        font-weight: 400;
                        height: unset;
                        width: unset;
                        padding: 0 !important;
                        transition: all .35s ease-in-out;

                        &:hover {
                            text-decoration: none !important;
                            color: var(--pri-400);

                            &::before {
                                opacity: .25 !important;
                            }
                        }

                        &::before {
                            content: '';
                            height: 8px;
                            width: 80px;
                            display: block;
                            background-color: rgba(255, 255, 255, 0.45);
                            border-radius: 50px;
                            top: 2px;
                            transition: all .35s ease-in-out;

                            @media @min992 {
                                width: 160px;
                            }
                        }
                    }

                    &.slick-active {
                        pointer-events: none;

                        .tab {
                            &::before {
                                background: linear-gradient(90deg, #95B6F8 3.85%, #C9DAFC 54.81%, #FFF 100%);
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        .tab {
                            &::before {
                                left: 64px;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        .tab {
                            &::before {
                                right: 64px;
                                left: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}


/**********************************
* HOME PAGE
***********************************/
.home-page {

    .our-services,
    .about-us {
        position: relative;
        z-index: 1;

        @media @min992 {
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                mix-blend-mode: overlay;
                z-index: 0;
                pointer-events: none;
                top: 50%;
                transform: translateY(-50%);
                background-size: 50%;
                background-repeat: no-repeat;
            }
        }


        .container {
            .container-section();
            position: relative;
            z-index: 10;

            @media @min1280 {
                gap: var(--space-lg);
            }

            @media @min1640 {
                gap: var(--space-xxl);
            }

            .text-content {
                .content {
                    max-width: 650px;
                }
            }
        }
    }

    .our-services {
        &::before {
            background-image: url('@{images}/contact-pattern-left.svg');
            left: 0;
            background-position: left center;
        }
    }


    .about-us {
        &::before {
            background-image: url('@{images}/contact-pattern-right.svg');
            right: 0;
            background-position: right center;
        }

        @media @max992 {
            .image-content {
                order: -1;
            }
        }
    }

    .our-services {
        .container {
            .image-content {
                // @media @min992 {
                //     order: -1;
                // }

                .list {
                    border-radius: 15px;
                    box-shadow: 2px 2px 25px 0 rgba(48, 81, 146, 0.10);
                    .grid(2);
                    background-color: var(--white);

                    .list-item {
                        .display-flex(flex, var(--space-sm), column, center);
                        justify-items: center;
                        padding: 48px 8px;

                        h3 {
                            color: var(--neu-100);
                            max-width: 170px;
                            width: 100%;
                            .center();
                        }

                        &:nth-of-type(1) {
                            border-right: 1px solid var(--neu-400);
                            border-bottom: 1px solid var(--neu-400);
                        }

                        &:nth-of-type(2) {
                            border-bottom: 1px solid var(--neu-400);
                        }

                        &:nth-of-type(3) {
                            border-right: 1px solid var(--neu-400);
                        }
                    }
                }
            }
        }
    }

    .condo-manage {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .container {
            .container-section();
            position: relative;
            z-index: 10;

            @media @min1280 {
                gap: var(--space-lg);
            }

            @media @min1640 {
                gap: var(--space-xxl);
            }

            .text-content {
                h2 {
                    background-image: none;
                    padding: 0px;
                }

                p {
                    .white();
                }

                .content,
                .btn {
                    @media @min1024 {
                        margin-top: var(--space-40);
                    }
                }

                .btn a {
                    color: var(--white);
                    border-color: var(--white);
                    background: rgba(255, 255, 255, 0.45);

                    &:hover {
                        background-color: var(--pri-100);
                        border-color: var(--pri-100);
                    }
                }

                @media @min992 {
                    order: -1;

                    .content {
                        max-width: 550px;
                        width: 100%;
                        display: block;
                    }
                }
            }

            .image-content {
                justify-self: center;

                .logo {
                    svg {
                        max-width: 338px;
                        width: 100%;
                        display: block;
                        height: auto;

                        >path {
                            fill: var(--white);
                        }
                    }
                }
            }
        }
    }

    .info-approach {
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            z-index: 0;
            display: block;
            width: 100%;
            height: 100%;
            transform: translateY(-50%);
            background-image: url('@{images}/full-pattern.svg');
            background-position: left center;
            background-size: contain;
            background-repeat: no-repeat;
            pointer-events: none;
            mix-blend-mode: overlay;
        }

        .container {
            max-width: 1440px;

            @media @min1024 {
                display: flex;
                justify-content: flex-end;
            }

            .text-content {
                display: block;
                background-color: var(--white);
                border-radius: 15px;
                box-shadow: 2px 2px 25px 0 rgba(48, 81, 146, 0.10);
                padding: var(--space-md);

                @media @min768 {
                    display: inline-block;
                }

                h2 {
                    .title-bg();

                }

                .content,
                .btn {
                    margin-top: var(--space-24);

                    @media @min768 {
                        margin-top: var(--space-40);
                    }
                }

                @media @min992 {
                    .content {
                        max-width: 550px;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

    }
}

/**********************************
* SERVICES AND APPROACH PAGE
***********************************/
.services-approach-page {


    .our-services,
    .our-approach {
        .container {
            .container-section();
        }
    }

    .our-approach {
        background-color: var(--pri-400);

        .container {
            @media @min992 {
                .image-content {
                    order: -1;
                }
            }
        }
    }
}

/**********************************
* SMART GREEN CONDO PAGE
***********************************/
.smartgreencondo-page {
    .container {
        h2 {
            .title-bg();
        }
    }

    .why-smart-green {
        .container {
            .wheel-container {
                padding-block: var(--space-40);
                .display-flex(flex, var(--space-80), column, center);

                @media @min992 {
                    padding-block: var(--space-56);
                    flex-direction: row;
                    gap: 5%;
                }

                .svg-slider {
                    @media @min992 {
                        flex: 0 0 35%;
                    }

                    svg {
                        .img-responsive();
                        height: auto;
                        transition: all .35s ease;

                        #segment-1,
                        #segment-2,
                        #segment-3 {
                            path {
                                transition: all .35s ease;

                                &:nth-of-type(1) {
                                    fill: var(--white);
                                }

                                &:nth-of-type(2) {
                                    fill: var(--pri-100);
                                }
                            }

                            &.active {
                                path {

                                    // &:nth-of-type(1) {
                                    //     fill: url(#paint0_linear_219_3193);
                                    // }

                                    &:nth-of-type(2) {
                                        fill: var(--white);
                                    }
                                }
                            }
                        }

                        #segment-1 {
                            &.active {
                                path {
                                    &:nth-of-type(1) {
                                        fill: url(#paint0_linear_219_3193);
                                    }
                                }
                            }
                        }

                        #segment-2 {
                            &.active {
                                path {
                                    &:nth-of-type(1) {
                                        fill: url(#paint0_linear_219_3214);
                                    }
                                }
                            }
                        }

                        #segment-3 {
                            &.active {
                                path {
                                    &:nth-of-type(1) {
                                        fill: url(#paint0_linear_219_3273);
                                    }
                                }
                            }
                        }
                    }
                }

                .content-slider {
                    margin-bottom: 0px !important;
                    height: 100%;

                    @media @min992 {
                        flex: 0 0 45%;
                    }



                    .slick-list {
                        height: 100% !important;

                        .slick-track {
                            transform: none !important;
                            height: 100% !important;
                        }
                    }

                    .slider-content {
                        border-radius: 25px;
                        border: 1px solid var(--pri-100);
                        overflow: hidden;
                        margin-block: var(--space-xs);

                        // position: relative;
                        // z-index: 1;

                        // &::before {
                        //     content: '';
                        //     position: absolute;
                        //     top: -1px;
                        //     left: -1px;
                        //     right: -1px;
                        //     bottom: -1px;
                        //     background: linear-gradient(265deg, rgba(0, 70, 211, 0.65) 12.42%, rgba(138, 224, 41, 0.65) 54.69%, rgba(1, 62, 188, 0.65) 98.23%);
                        //     border-radius: 30px;
                        //     /* slightly bigger than inner border-radius */
                        //     z-index: -1;
                        // }

                        .right-container {
                            background: linear-gradient(90deg, rgba(0, 71, 212, 0.15) -17.12%, rgba(48, 81, 146, 0.00) 74.65%);
                            padding: 24px;
                            .display-flex(flex, var(--space-sm), row, unset);
                        }

                        svg {
                            height: 48px;
                            width: 48px;
                            display: block;
                            transition: all .35s ease;

                            path {
                                transition: all .35s ease;
                                fill: var(--neu-200);
                            }
                        }

                        .slide-right {
                            h3 {
                                padding-bottom: var(--space-xxs);
                            }

                            h3,
                            h4 {
                                color: var(--neu-200);
                            }

                            .content {
                                padding-top: var(--space-sm);
                                display: none;
                            }
                        }

                        &.slick-current,
                        &.slick-active {
                            .slide-left svg {
                                path {
                                    fill: var(--pri-100);
                                }
                            }

                            h3,
                            h4 {
                                color: var(--neu-100);
                            }

                            .content {
                                display: block;
                            }
                        }
                    }

                    .slick-dots {
                        bottom: -40px;

                        @media @max992 {
                            bottom: unset;
                            top: -48px;
                        }

                        li {
                            width: 16px;
                            height: 16px;

                            button {
                                padding: 0px;
                                width: 16px;
                                height: 16px;

                                &::before {
                                    opacity: 1;
                                    background: var(--neu-300);
                                    width: 16px;
                                    height: 16px;
                                    color: transparent;
                                    border-radius: 50%;
                                }
                            }

                            &.slick-active {
                                button {
                                    &::before {
                                        background: linear-gradient(99deg, #0046D3 11.13%, #65B878 47.95%, #9DF500 82.05%);
                                    }
                                }
                            }
                        }
                    }
                }

                .arrows-section {
                    .display-flex(flex, var(--space-sm), row, center);

                    @media @min992 {
                        flex: 0 0 10%;
                        flex-direction: column;
                    }

                    .slick-arrow {
                        display: block !important;
                        cursor: pointer;

                        svg {
                            height: 36px;
                            max-width: 36px;
                            width: 100%;
                            display: block;
                            transition: all .35s ease;

                            path {
                                transition: all .35s ease;
                            }

                            &:hover {
                                path {
                                    fill: var(--neu-100);
                                }
                            }
                        }

                        &.slick-disabled {
                            pointer-events: none;

                            path {
                                fill: var(--neu-100);
                            }
                        }
                    }

                    @media @min992 {
                        flex: 0 0 10%;
                    }

                    @media @max992 {
                        display: none;

                        // .arrowNext{
                        //     transform: rotate(270deg);
                        // }
                    }
                }
            }

            .btn {
                @media @min992 {
                    margin-top: var(--space-40);
                }
            }
        }
    }

    .our-vision {
        background-color: var(--pri-400);

        .container {
            .grid(1);
            gap: var(--space-40);

            @media @min992 {
                .grid(2);
                align-items: center;
            }

            .image-content {
                img {
                    border-radius: 10px;
                }
            }

            .text-content {
                .list {
                    margin-top: var(--space-40);
                    .display-flex(flex, var(--space-md), column, center);

                    @media @min768 {
                        margin-top: var(--space-lg);
                    }

                    .list-item {
                        .display-flex(flex, var(--space-sm), row, unset);

                        @media @min992 {
                            gap: var(--space-md);
                        }

                        span {
                            height: 32px;
                            width: 100%;
                            max-width: 32px;
                            background-color: var(--white);
                            border-radius: 50%;
                            color: var(--pri-100);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .font-size(32, 24);

                            @media @min992 {
                                height: 56px;
                                max-width: 56px;
                            }
                        }

                        .content {
                            max-width: 550px;
                            width: 100%;
                            padding-top: var(--space-xs);
                        }
                    }
                }
            }
        }
    }

    .condo-management {
        .container {
            .text-content {
                .list {
                    height: 100%;
                    .grid(1);
                    gap: var(--space-40);

                    margin-top: var(--space-40);

                    @media @min768 {
                        .grid(2);
                        margin-top: var(--space-lg);
                    }

                    @media @min1024 {
                        .grid(3);
                    }

                    .list-item {
                        height: 100%;
                        border-radius: 10px;
                        overflow: hidden;

                        .list-details {
                            background-color: var(--pri-400);
                            padding: 20px;
                            height: 100%;
                            padding-bottom: var(--space-md);

                            h3 {
                                padding-bottom: var(--space-xs);
                            }

                            @media @min992 {
                                padding-bottom: var(--space-lg);
                            }
                        }
                    }
                }
            }
        }
    }

    .core-functionality {
        .container {
            .text-content {
                margin-top: var(--space-40);

                @media @min768 {
                    margin-top: var(--space-lg);
                }

                .list {
                    .list-item {
                        &:nth-of-type(1) h3.default-active {
                            pointer-events: none;
                            color: var(--pri-100);
                            border-color: var(--pri-100);

                            svg path {
                                fill: url(#gradient-fill);
                            }
                        }

                        h3 {
                            padding-block: var(--space-sm);
                            border-bottom: 1px solid var(--neu-300);
                            .display-flex(flex, var(--space-sm), row, center);
                            color: var(--neu-200);
                            cursor: pointer;

                            svg {
                                transition: all .35s ease;

                                path {
                                    fill: var(--neu-200);
                                    transition: all .35s ease;
                                }
                            }

                            &.is-active {
                                pointer-events: none;
                                color: var(--pri-100);
                                border-color: var(--pri-100);

                                svg {
                                    path {
                                        fill: url(#gradient-fill);
                                    }
                                }
                            }

                        }

                        .faq-content {
                            padding-top: var(--space-sm);
                        }
                    }
                }
            }
        }
    }

    .demo-videos {
        background-color: var(--pri-400);

        .container {
            .videos {
                .grid(1);
                gap: var(--space-40);

                margin-top: var(--space-40);

                @media @min768 {
                    .grid(2);
                    gap: var(--space-56);
                    margin-top: var(--space-lg);
                }

                @media @min1024 {
                    .grid(3);
                }

                .list-item {
                    .video-title {
                        .h5();
                        font-weight: 300;
                        line-height: var(--section-line-height);
                        margin-top: var(--space-sm);
                    }

                    iframe {
                        .img-responsive();
                        aspect-ratio: 16/9;
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }
    }

    .request-a-demo {
        @media @min992 {
            padding-left: 0px !important;
        }

        .container {
            .container-section();

            .image-content {
                height: 100%;
                display: block;
                overflow: hidden;

                img {
                    border-radius: 0px;

                    @media @min992 {
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .gfield_description.instruction {
                display: none;
            }

            .gform_wrapper.gravity-theme .gfield {
                @media @min992 {
                    grid-column: span 6;
                }
            }
        }
    }
}

/**********************************
* CONTACT PAGE
***********************************/
.contact-page {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        z-index: 0;
        pointer-events: none;
    }

    &::before {
        background: url('@{images}/contact-pattern-left.svg') no-repeat left bottom;
        left: 0;
        bottom: 0;
    }

    &::after {
        background: url('@{images}/contact-pattern-right.svg') no-repeat right top;
        right: 0;
        display: none;
        top: 0;

        @media @min1280 {
            display: block;
        }
    }

    .container {
        .grid(1);
        gap: 40px;
        position: relative;
        z-index: 10;

        @media @min992 {
            .grid(2);
        }

        .text-content {
            h2 {
                .title-bg();
            }

            .content {
                max-width: 450px;
                width: 100%;
                display: block;
                margin-top: var(--space-40);
            }
        }

        .form-container {
            max-width: 650px;
            width: 100%;

            form {

                #field_1_1,
                #field_1_5,
                #field_1_3,
                #field_1_4 {
                    @media @min992 {
                        grid-column: span 6;
                    }
                }
            }
        }
    }
}

/**********************************
* FOOTER
***********************************/

footer {
    background-color: var(--pri-100);
    .padding-lr();
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        mix-blend-mode: overlay;
        z-index: 0;
        pointer-events: none;
    }

    &::before {
        background: url('@{images}/footer-mobile.svg') no-repeat top center;
        left: 0;
        background-size: 135%;

        @media @min768 {
            background-size: 50%;
        }

        @media @min992 {
            display: none;
        }

        @media @min1440 {
            background: url('@{images}/footer-left.svg') no-repeat left center;
            background-size: unset;
            display: block;
        }
    }

    &::after {
        background: url('@{images}/footer-right.svg') no-repeat right;
        right: 0;
        display: none;

        @media @min992 {
            display: block;
        }
    }

    #contact {
        padding-block: var(--space-md);
        .container();
        .display-flex(flex, var(--space-24), column, center);
        position: relative;
        z-index: 2;

        @media @min768 {
            justify-content: space-between;
            flex-direction: row;
        }

        @media @min992 {
            justify-content: unset;
        }

        @media @min1280 {
            display: block;
        }

        a {
            cursor: pointer;
        }


        .contact-info {
            max-width: 220px;
            width: 100%;
            display: block;
            z-index: 10;

            @media @max768 {
                text-align: center;
                padding-bottom: var(--space-24);
                border-bottom: 1px solid var(--white);
                max-width: 100%;
            }

            @media @min1280 {
                position: absolute;
                top: 30px;
            }

            p,
            span,
            a {
                line-height: var(--section-line-height);
                font-size: 16px;
            }

            span,
            a {
                color: var(--white) !important;
            }
        }

        .details {
            .display-flex(flex, var(--space-md), column, center);

            .footer-menu {
                position: relative;
                z-index: 5;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0 auto;
                    display: flex;
                    gap: var(--space-40);
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    height: 100%;
                    justify-content: center;

                    @media @min992 {
                        flex-direction: row;
                    }

                    >li {
                        display: block;
                        margin: 0;
                        line-height: normal;

                        a {
                            display: block;
                            position: relative;
                            color: var(--white);
                            text-decoration: none;
                            .font-size(18, 16);
                            text-transform: none;
                            margin-top: 0px;
                            font-weight: 500;
                            margin-bottom: 0;
                            line-height: normal;

                            &:hover {
                                color: var(--pri-300);
                            }
                        }

                        &.grad-btn {
                            display: none !important;
                        }

                        @media @min992 {
                            border-right: 1px solid var(--white);
                            padding-right: var(--space-40);

                            &.menu-item-18 {
                                border: none;
                                padding-right: 0px !important
                            }
                        }


                    }
                }
            }
        }
    }

    .copyright {

        span,
        a {
            .font-size(14, 12);
            width: auto;
            margin: 0;
            color: var(--white);
        }

        .copyright-text {
            display: inline-block;
        }

        span:nth-of-type(2) {
            display: inline-block;
            margin-bottom: 0;
        }
    }
}